body {
    max-width: hidden !important;
    overflow-x: hidden !important;
  }
  .fixedViewer {
    position: fixed;
    top: 0;
    min-height: 100vh !important;
  }
  .image-wrap {
    overflow: visible !important;
    background-color: unset !important;
    width: 100%;
    min-width: 94%;
  }
  .slick-list {
    overflow: visible !important;
  }
  
  .product__photos img {
    width: auto;
  }
  
  .image-wrap .animate-me,
  .image-wrap img:not([role="presentation"]),
  .image-wrap svg {
    opacity: 1;
  }
  
  .product-single__meta {
    padding-left: 0px;
  }
  .product-image-main {
    display: grid;
    place-items: center;
  }
  .product__thumbs--beside.product__thumbs-placement--left {
    margin-right: 0px;
  }
  .photoswipe__image {
    width: 90% !important;
  }
  
  /* .product__main-photos{
            overflow: visible;
          } */
  
  #deep-gears-root {
    min-width: 414px;
    max-width: 414px;
    min-height: calc(100vh - 0px);
    max-height: calc(100vh - 0px);
    margin: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
  }
  #deep-gears-root h6 {
    text-transform: unset;
    letter-spacing: unset;
    font-size: 10.72px !important;
  }
  #deep-gears-root h5 {
    text-transform: unset;
    letter-spacing: unset !important;
    text-transform:unset !important;
  }
  
  
  
  #deep-gears-root h3 {
    text-transform: unset;
    letter-spacing: unset;
    font-size: 18.72px !important;
  }
  #deep-gears-root h2 {
    text-transform: unset;
    letter-spacing: unset;
    font-size: 20px !important;
  }
  #deep-gears-root h1 {
    text-transform: unset;
    letter-spacing: unset;
    font-size: 24px !important;
  }
  #deep-gears-button {
    min-width: 100%;
    min-height: 50px;
    display: grid;
    place-items: center;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    line-height: 1.42;
    white-space: normal;
    cursor: pointer;
    background-color: #0e4da4;
    letter-spacing: 0.3em;
    font-size: max(calc(var(--typeBaseSize) - 4px), 13px);
    transition: all ease-out 0.3s;
    display: flex;
    gap:20px;
    justify-content: center;
    align-content: center;
  }
  #deep-gears-button img{
      height: 30px;
      width: auto;
  }
  #deep-gears-button:hover {
    background-color: #2158a5;
  }
  .product-single__form {
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 1024px) {
    #deep-gears-root {
      min-width: 350px;
      max-width: 350px;
      min-height: calc(100vh - 90px);
      max-height: calc(100vh - 90px);
    }
  }
  
  @media only screen and (max-width: 768px) {
    #deep-gears-root {
      min-width: 60vw;
      max-width: 60vw;
      min-height: calc(100vh);
      max-height: calc(100vh);
    }
    div[aria-describedby] {
      display: block !important;
    }
    #deep-gears-root img {
      display: block !important;
    }
    .image-wrap {
      overflow: hidden !important;
    }
    .slick-list {
      overflow: hidden !important;
      max-height: 300px;
    }
    .product-image-main {
      display: block;
      place-items: start;
    }
    .grid__item {
      padding-left: 17px;
    }
    .photoswipe__image {
      width: 100% !important;
    }
    .product__main-photos .slick-list {
      padding: 0px !important;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #deep-gears-root {
      min-width: calc(100vw - 0px);
      max-width: calc(100vw - 0px);
    }
    .grid {
      margin-left: 0px !important;
    }
    @media only screen and (max-height: 700px) {
      #deep-gears-root {
        min-width: calc(100vw - 0px);
        max-width: calc(100vw - 0px);
        min-height: calc(100vh - 0px);
        max-height: calc(100vh - 0px);
      }
      .grid {
        margin-left: 0px !important;
      }
    }
  
    .product__thumb img {
      min-width: 100% !important;
      animation-name: none !important;
    }
  }
  .no_transform{
    transform: translateX(0)!important;
  }
  
  #deep-gears-root img{
    display: block;
  }
  
  /* .product__main-photos img, .product__main-photos .flickity-page-dots{
    display:block;
  } */
  #deep-gears-root main {
      max-width: unset !important;
  }
  #deep-gears-title{
    display:flex;
    gap:20px;
    align-content:center;
    align-items:center;
  }
  #preview-in-3d img{
    height:30px;
  }